.input {
  background-color: var(--lightGrey);
  border-radius: var(--spacing-12);
  padding: var(--font-size-12) var(--spacing-14);
  border: none;
  font-size: var(--spacing-16);
  &:focus {
    outline: 1px solid var(--focusColor);
  }
}

.label {
  display: flex;
  align-items: center;
  font-size: var(--font-size-14);
}

.labelText {
  margin-right: var(--spacing-14);
  color: var(--grey);
}