.item {
  font-size: var(--font-size-16);
  padding: var(--spacing-12);
  border-radius: var(--spacing-8);
  &:hover {
    background-color: var(--mediumGrey);
  }
}

.selected {
  composes: item;
  background-color: var(--mediumGrey);
  color: var(--black);
  font-weight: bold;
}

.disabled {
  composes: item;
  color: var(--textGrey);
  &:hover {
    background-color: inherit;
  }
}