.btn {
  padding: var(--spacing-14) var(--spacing-20);
  border-radius: var(--spacing-8);
  cursor: pointer;
  font-size: var(--font-size-14);
  &:focus {
    outline-color: var(--mainColorDarker);
  }
}

.primary {
  composes: btn;
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
  color: white;
  &:hover {
    background-color: var(--mainColorDarker);
    border-color: var(--mainColorDarker)
  }
}

.secondary {
  composes: btn;
  background-color: var(--white);
  border: 1px solid var(--mediumGrey);
  box-shadow: 0 3px 6px -5px var(--mediumGrey);
  color: var(--textCurrent);
  &:hover {
    border-color: var(--grey);
  }
}