.hs {
  display: flex;
}

.hsLabel {
  color: var(--mainColorDarker);
  font-weight: bold;
}

.hsButton {
  color: var(--grey);
  font-size: var(--spacing-16);
  &:first-of-type {
    margin-left: auto;
  }
}