.header {
  display: flex;
  padding: 0 var(--spacing-24);
  align-items: center;
  background-color: var(--mainColorDarker);
  color: var(--white);
}

.nav {
  display: flex;
}

.navLink {
  display: block;
  color: white;
  text-decoration: none;
  margin-right: var(--spacing-16);
  padding: var(--spacing-24);

  &:hover {
    background-color: var(--mainColor);
  }
}

.auth {
  margin-left: auto;
}

.authBtn {
  margin-left: var(--spacing-16);
}