.module {
  display: grid;
  grid-template-columns: 3fr min-content;
  grid-template-rows: min-content;
  grid-gap: var(--spacing-30);
}

.months {
  margin: var(--spacing-24) 0;
}
.hours {
  margin-top: var(--spacing-24);
  overflow: auto;
  max-height: 300px;
  scrollbar-width: thin;
}
.buttons {
  display: flex;
  gap: var(--spacing-16);
}
